<!-- This is the home page -->
<div data-role="page" id="homePage">
    <div data-role="header">
        <h1>FightDex</h1>
    </div>
    <div data-role="content">
        <% game = @games.find(@gameSelected) %>
        <h2><%= game.name %></h2>
        <p><%= game.publisher %></p>
        <a href="#characterPage">
            <img id="gameImage" src="<%= game.url %>">
        </a>
    </div>
    <div data-role="footer">
        <div data-role="navbar">
            <ul>
                <li><a href="#characterPage?game=<%= if @gameSelected -1 == 0 then 1 else @gameSelected - 1 end%>" data-icon="arrow-l">Previous Game</a></li>
                <li><a href="#characterPage?game=<%= @gameSelected+1 %>" data-icon="arrow-r">Next Game</a></li>
            </ul>
        </div>
    </div>
</div>

<!-- This is the character select page -->
<div data-role="page" id="characterPage">
    <div data-role="header">
        <h1>FightDex</h1>
    </div>
    <div data-role="content">
          <input type="text" data-type="search" id="filterable-input">
        <ul data-role="listview" data-inset="true" data-filter="true" data-input="#filterable-input">
            <li><a href="#">Apple</a></li>
            <li><a href="#">Banana</a></li>
            <li><a href="#">Cherry</a></li>
            <li><a href="#">Cranberry</a></li>
            <li><a href="#">Grape</a></li>
            <li><a href="#">Orange</a></li>
        </ul>    
    </div>
    <div data-role="footer">
        <div data-role="navbar">
            <ul>
                <li><a href="#homePage" data-icon="arrow-l">Back</a></li>
                <li><a href="#homePage" data-icon="home">Home</a></li>
                <li><a href="#" data-icon="alert">Hadouken</a></li>
            </ul>
        </div>
    </div>
</div>